/*typography customisation*/

h1.title.is-2>a,
h2.title.is-4,
.hero.is-info>.box>h2.title.is-4 {
    color: #e1559a
}


/* hero customisation*/

.hero {
    padding-bottom: .5em;
    margin-bottom: 2em;
}

.hero.is-info {
    background: #d02af4
}

.hero.is-info.is-bold {
    background-image: linear-gradient(125deg, #d02af4 0, #e1559a 61%, #f9b232 100%);
}


/*button section customisation*/

.button {
    margin-top: calc(1em - 1px);
    margin-right: calc(1em - 1px);
    margin-left: calc(1em - 1px);
}

.button.is-info.is-inverted {
    background-color: #fff;
    color: #e1559a;
}

.button.is-info.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #ffffff;
    font-weight: 600;
}

.button:focus.is-info.is-outline,
.button.is-info.is-outline:hover {
    background-color: #fff;
    border-color: #fff;
    color: #e1559a;
}

.button.is-success {
    background-color: #e1559a;
    border-color: #e1559a;
    color: #fff;
}

.button.is-success.is-outlined {
    background-color: transparent;
    border-color: #e1559a;
    color: #e1559a;
    font-weight: 600;
}