.color1 {
    color: #d02af4
}

.color2 {
    color: #d633d3
}

.color3 {
    color: #dc45b4
}

.color4 {
    color: #e25995
}

.color5 {
    color: #e86f76
}

.color6 {
    color: #ee8759
}

.color7 {
    color: #f49e40
}

.color8 {
    color: #d531d9
}

.color9 {
    color: #da40ba
}

.color10 {
    color: #e1559a
}

.color11 {
    color: #e76b7c
}

.color12 {
    color: #ed825e
}

.color13 {
    color: #f39a44
}

.color14 {
    color: #f9b232
}

.color15 {
    color: #6c7367
}

.color16 {
    color: #314f96
}

.color17 {
    color: #9adbd2
}

.color18 {
    color: #ffffff
}

.color19 {
    color: #75b8b1
}

.color20 {
    color: #a15c3e
}

.color21 {
    color: #efe4e2
}

.color22 {
    color: #6e6e70
}

.color23 {
    color: #707176
}

.color24 {
    color: #6e6d72
}

.color25 {
    color: #8b8e6e
}

.color26 {
    color: #bbcda9
}

.color27 {
    color: #c1c3b7
}

.color28 {
    color: #c5c7ba
}

.color29 {
    color: #c0c2b5
}

.color30 {
    color: #9da099
}

.color31 {
    color: #f8f8f8
}

.color32 {
    color: #f6cfdd
}